.navigation {
  width: calc(100% - 50px);
  margin: 0 auto 0 auto;
  padding: 10px 25px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 2px #A9A9A9;
  background-color: rgba(38, 38, 40, 0.75);

  position: fixed;
  top: 0;
  z-index: 2;

  div {
    padding: 7px 15px;
    border-radius: 10px;
    background-color: #262628;

    .navigation__title {
      font-size: 1.3em;
      font-weight: bold;
      color: darkorange;
    }
  }

  ul {
    display: flex;
    align-items: center;
    gap: 50px;

    .nav-active {
      position: relative;
      color: #FF8C00FF;
      transition: color 0.2s ease-in-out;

      &::after {
        content: "";
        height: 4px;
        width: 0;
        background: #FF8C00FF;
        position: absolute;
        border-radius: 10px;
        bottom: -23px;
        left: 50%;
        transform: translateX(-50%);
        animation: anim 0.6s ease forwards;
      }
    }

    a {
      color: #A9A9A9;
      font-size: 0.9em;
      text-transform: uppercase;
      text-decoration: none;
      transition: 0.2s ease-in-out;

      &:hover {
        color: #FF8C00FF;
        transition: 0.2s ease-in-out;
      }
    }
  }
}

@keyframes anim {
  to {
    width: 100%;
  }
}