.navigation {
  width: calc(100% - 50px);
  margin: 0 auto 50px auto;
  padding: 10px 25px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 2px #A9A9A9;
  background-color: rgba(38, 38, 40, 0.75);

  position: fixed;
  top: 0;
  z-index: 2;

  div {
    padding: 7px 15px;
    border-radius: 10px;
    background-color: #262628;

    .navigation__title {
      font-size: 1.3em;
      font-weight: bold;
      color: darkorange;
    }
  }

  ul {
    display: flex;
    align-items: center;
    gap: 50px;

    a {
      color: #A9A9A9;
      font-size: 0.9em;
      text-transform: uppercase;
      text-decoration: none;
    }
  }
}