.navigation {
  width: calc(100vw - 50px);
  margin: 0 auto 50px auto;
  padding: 10px 25px;
  display: flex;
  justify-content: space-between;
  background-color: #A9A9A9;

  div {
    padding: 7px 15px;
    border-radius: 10px;
    background-color: #262628;

    .navigation__title {
      font-size: 1.3em;
      font-weight: bold;
      color: wheat;
    }
  }

  ul {
    display: flex;
    align-items: center;
    gap: 50px;

    a {
      color: #262628;
      font-size: 0.9em;
      text-transform: uppercase;
      text-decoration: none;
    }
  }
}